/* Scrollbar style */
::-webkit-scrollbar {
    width: 12px;
    background-color: #F8F9FD;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #0D242F;
    border-radius: 10px;
    transition: border-radius 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0D242F;
}

::selection {
    background-color: #163e59;
    color: #fff;
}