@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4" style="color: white">Welcome!</h1>

    <!-- Frontend preview -->
    <p>Explore <a href="https://projekti-web-eight.vercel.app" target="_blank">cozyreads</a>, your go-to destination for a delightful book shopping experience.</p>

    <!-- GitHub repository -->
    <p>If you are interested in the source code, it's available on <a href="https://github.com/DonatHalimi/ProjektiWeb" target="_blank">GitHub</a>.</p>
</div>