@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome,</h1>

    <!-- Add the new link and description -->
    <p>Explore <a href="https://projekti-web-eight.vercel.app" target="_blank">cozyreads</a>, your go-to destination for a delightful book shopping experience.</p>
</div>