@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Role Details";
}

<h1 class="mt-4">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color:white; background-color: #272B30;">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10" style="color:white; background-color: #272B30;">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>